.header_container {
  height: 60px;
  display: flex;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  background: var(--main-header-color);
  justify-content: space-between;
}
.userblock {
  display: flex;
  align-items: center;
}
@media screen and (min-width: 375px) {
}

@media screen and (min-width: 768px) {
  .header_container {
    height: 68px;
  }
}

@media screen and (min-width: 1280px) {
  .userblock {
    margin-left: 995px;
  }
}
