.module {
  position: fixed; /* Фіксована позиція */
  top: 0; /* Розміщення зверху */
  left: -250px; /* Початкове зміщення вліво, щоб приховати бар */
  width: 250px; /* Ширина бокового бару */
  height: 100%; /* Висота на весь екран */
  background-color: #fff; /* Колір фону бокового бару */
  z-index: 999; /* Встановлення z-index для відображення поверх іншого контенту */
  transition: left 0.3s ease; /* Плавний перехід зміщення */
}
.open {
  left: 0; /* Змінюємо зміщення вліво, щоб показати бар */
}
